body {
    padding-top: 70px; 
    padding-bottom: 70px;
}

header .logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #007bff;
    font-weight: bold;
}

.footer {
    font-size: 0.9rem;
}

.row .col-md-4 {
    padding: 15px;
}

.card {
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}
